<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="../../favicon.ico"> -->

        <title>{% block title %}{% endblock %}</title>

        <!-- Fonts -->
        <link href='//fonts.googleapis.com/css?family=Cousine:400,700|Open+Sans:300,400,700,600|Roboto:400,300,500,700'
              rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        
        {% block css %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        {% block content %}
        {% endblock %}

        <!-- JavaScript
        ================================================== -->
        <script type="text/javascript" src="/static/js/lib.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
